[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "FIAstemmap"]
	path = FIAstemmap
	url = https://github.com/firelab/fiastemmap
[submodule "gdalraster"]
	path = gdalraster
	url = https://github.com/firelab/gdalraster
